$primary: var(--pgn-color-primary-base) !default;
$link-hover-color: var(--pgn-color-primary-base) !default;
$input-btn-focus-color: var(--pgn-color-primary-base) !default;
$input-focus-border-color: var(--pgn-color-primary-base) !default;
$custom-control-indicator-checked-disabled-bg: var(--pgn-color-primary-base) !default;
$custom-control-indicator-active-bg: var(--pgn-color-primary-base) !default;
$custom-select-box-shadow: inset 0 1px 2px var(--pgn-color-primary-base) !default;
$custom-select-focus-box-shadow: 0 0 0 0.2rem var(--pgn-color-primary-base) !default;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
