## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import gettext as _
from django.utils.translation import get_language_bidi
%>
<%namespace name='static' file='static_content.html'/>

<%
  style_overrides_file = None
  try:
    if get_language_bidi():
      style_overrides_file = theming.options(
        'css_overrides_file_rtl',
        default = theming.options('css_overrides_file')
      )
      style_overrides_file = theming.options('css_overrides_file')
    else:
      style_overrides_file = theming.options('css_overrides_file')
  except Exception:
    style_overrides_file = ''
%>

% if style_overrides_file:
  <link rel="stylesheet" type="text/css" href="${static.url(style_overrides_file)}" />
% endif

## Optional overrides
<%
  style_overrides_file_extra = theming.options('css_overrides_file_extra', default= "css-runtime/css/bragi/variables.css")
  style_overrides_inline_extra = theming.options('css_overrides_inline_extra', default= False)
%>
<link rel="stylesheet" type="text/css" href="${static.url('css-runtime/css/core/variables.css')}" />
<link rel="stylesheet" type="text/css" href="${static.url('css-runtime/css/bragi/utility-classes.css')}" />
% if style_overrides_file_extra:
  <link rel="stylesheet" type="text/css" href="${static.url(style_overrides_file_extra)}" />
% endif
% if style_overrides_inline_extra:
  <style type="text/css">${style_overrides_inline_extra | n}</style>
% endif

@edx/brand:git.